<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="de.klierlinge.partydj.logging">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} [%t] %-5level %logger - %msg%n%throwable" />
		</Console>
		<RollingFile name="File" fileName="logs/pdj.log"
			filePattern="logs/old %d{yyyy-MM-dd HHːmmːss}.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level %logger - %m%n%throwable" />
			<Policies>
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>
        <ParyDjLogAppender name="PartyDj">
        </ParyDjLogAppender>
	</Appenders>

	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="Console" />
            <AppenderRef ref="File" />
            <AppenderRef ref="PartyDj" />
		</Root>

		<Logger name="de.klierlinge" level="INFO">
		</Logger>
	</Loggers>
</Configuration>